.home-links {
    display: flex;
    position: absolute;
    list-style-type: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.home-links-item {
    margin-right: 10px;
    border-radius: 1px;
    text-decoration: none;
}